<h1>Ouivalo Challenge Form</h1>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
    
<form #userPost="ngForm" (ngSubmit)="handleSubmit(userPost.value)"> 
  <input type="date" name="date" ngModel><br><br>
  <input type="text" name="id" ngModel placeholder="email"><br><br>
  <input type="text" name="urlRelais" ngModel placeholder="lien github"><br><br>
  <input type="textarea" name="message" ngModel placeholder="message"><br><br>
  <button type="submit">Submit</button>
</form>
</div>